* ::after ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: IBM Plex Mono, sans-serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  background-color: #9b9b9b;
}
